
:root {
    --header-bg: url('images/header.png');
    --accent-color: #633aac;
    --link-color: #9f4fb1;
    --button-color: #E5BDF9;
    --bg-color: #FFF3E8;
    --bg-color2: #FFE8FA;
    --text-color: #372558;
    --favorite-color: #CAEC8A;
}


* {
    color: var(--text-color);
    font-family: monospace;
}
::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

body {
    background-color: var(--bg-color2);
    margin: 0;
}
p {line-height: 1.5em;}

.yui {
    background-color: var(--favorite-color);
    border-radius: .4em;
    padding: .2em .5em;
    font-size: 2em;
    font-weight: bold;
}

.kyoko {
    background-color: var(--button-color);
    border-radius: .4em;
    padding: .2em .5em;
    font-size: 1.5em;
    font-weight: bold;
}

header {
    background: var(--header-bg);
    background-size: 100%;
    background-position: center;
    max-width: 960px;
    min-height: 400px;
    margin: 0 auto;
    padding: 0 1em;
    border-radius: 1em;
    box-shadow: var(--button-color) 8px 8px 20px;
}
header h1 {
    padding: .5em;
    border-radius: .3em;
    max-width: 900px;
    font-size: 4em;
    text-align: right;
    color: var(--bg-color);
    text-shadow: var(--accent-color) 4px 4px .5em;
}

nav {
    margin-top: 2em;
    font-weight: bold;
}

nav > ul {
    max-width: 960px;
    margin: auto;
    line-height: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-evenly;
}
nav li {
    text-align: center;
}
nav li > a {
    background-color: var(--button-color);
    padding: .5em 3em;
    box-shadow: var(--bg-color2) 0 0 6px;
    text-decoration: none;
}
nav li > a:visited {
    color: var(--link-color);
}
nav li > a:hover {
    background-color: var(--favorite-color);
    box-shadow: var(--bg-color) 0 0 6px;
    color: var(--text-color);
}

#biggerhover {
        transition: transform 0.3s ease;
    }

#biggerhover:hover {
        transform: scale(1.1) rotate(10deg);
    }

.tnbox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.tn {
  border: 1px solid #ddd;
  border-radius: 4px; 
  padding: 5px;
  width: 120px; 
  height: 120px;
  object-fit: cover;
}

.tn:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a {
    color: var(--link-color);
    border-radius: .5em;
    text-shadow: var(--bg-color) 1px 1px 2px;
    font-weight: bold;
    transition: color 400ms ease-out, background-color 400ms ease-out, box-shadow 400ms ease-out;
}
a:visited {
    color: var(--text-color);
}
a:hover {
    color: var(--link-color);
}


#sidebar {
    background: var(--bg-color);
    min-width: 248px;
    max-width: 248px;
    margin: 1em;
    padding: 1em;
    border: 2px dotted var(--link-color);
    box-shadow: var(--button-color) 8px 8px 20px;
    border-radius: 2em;
}

#avatar {
    margin: .5em auto;
    max-width: 164px;
    max-height: 164px;
    border-radius: 8em;
}
#avatar img {
    background: var(--bg-color2);
    border: 2px solid var(--button-color);
    max-width: 160px;
    border-radius: 8em;
}

#bio {
    margin: 2em 1em;
    background: var(--bg-color2);
    border: 1px solid var(--button-color);
    border-radius: 1em;
}
#bio p { margin: 1em; }

#content {
    display: flex;
    max-width: 960px;
    margin: auto;
}

main {
    background-color: var(--bg-color);
    padding: 1em 2em;
    margin: 1em auto;
    max-width: 600px;
    min-width: 600px;
    border: 2px dotted var(--link-color);
    box-shadow: var(--button-color) 8px 8px 20px;
    border-radius: 2em;
}

main > h1,
main > h2,
main > h3 {
    background-color: var(--favorite-color);
    border-radius: .4em;
    padding: .2em .5em;
}

main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

iframe {
  max-width: 90%;
  width: 90%;
}

.center { text-align: center; }
.img-right { float: right; }

footer {
    text-align: center;
    font-size: small;
    margin: 1em auto;
    max-width: 960px;
}

@media only screen and (max-width: 800px) {
    #content {
        flex-wrap: wrap;
    }
    #sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 0;
        max-width: none;
    }
    header {
        min-height: 160px;
        margin: 0 1em;
    }
    header > h1 { 
        font-size: 3em;
        margin: .4em;
    }
    #avatar {margin: 0 1em;}
    #bio {width: 50%;}
    main {
        margin: 0 1em;
        min-width: auto;
    }
    #sidebar ul {   
        margin: 0 1em;
        display: flex;
        flex-wrap: wrap;
        line-height: 2em;
    }
    #sidebar li {
        padding-left: 0;
        margin: .3em 1em;
    }
    .img-right {
        float: none;
        text-align: center;
    }
    footer {
        margin: 1em;
    }
}
